@media only screen and (max-width: 670px){
  body {
    overflow-x: hidden;
  }
    #chatContainer {
        display: none;
    }
    .main-pane {
        width: 100%;
    }
    .preview-pane {
        display: none;
    }
    

div#imageContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  row-gap: 2em;
  overflow: scroll;
  height: auto;
}
.pop-up{
  height: 80%;
}
.navigator{
  height: 5em;
}
.navigator .fa, .navigator .fas {
  font-size: 1.2em;
  cursor: pointer;
}
}