*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    background: cornflowerblue;
    border-radius: .3em;
    padding: .5em;
    color: #fff
}